ion-img{
    width: 50% !important;
    height: 30% !important;
    margin-left: 25%;
    margin-top: 10%;
  }
  .tong-hop{
    margin-left: 25%;
  }
  
  div{
    margin-top: 5%;
    border: 0.01em solid black;
     border-radius: 5%;
     width: 100%;
     align-items: center;
  }
  
  ion-col{
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  ion-select::part(icon) {
    display: none;
    opacity: 0;
    position: absolute;
    margin-top: -900px;
  }
   