<!--<ion-tabs>-->
<!--    <ion-segment class= "quan-tri-tab" [hidden]="!showTabs" scrollable color="primary" mode="md" slot="top" (ionChange)="segmentChanged($event)"-->
<!--                 [value]="page" color="primary">-->
<!--        <ion-segment-button value="thong-tin-ca-nhan">-->
<!--            <ion-label class="segment-label"><b>Thông tin cá nhân</b></ion-label>-->
<!--        </ion-segment-button>-->
<!--        <ion-segment-button value="tai-khoan">-->
<!--            <ion-label class="segment-label"><b>Tài khoản</b></ion-label>-->
<!--        </ion-segment-button>-->
<!--        <ion-segment-button value="vai-tro">-->
<!--            <ion-label class="segment-label"><b>Vai trò</b></ion-label>-->
<!--        </ion-segment-button>-->
<!--        <ion-segment-button value="dam-tom">-->
<!--            <ion-label class="segment-label"><b>Đầm tôm</b></ion-label>-->
<!--        </ion-segment-button>-->
<!--        <ion-segment-button value="lich-su-truy-cap">-->
<!--            <ion-label class="segment-label"><b>Lịch sử truy cập</b></ion-label>-->
<!--        </ion-segment-button>-->
<!--    </ion-segment>-->
<!--</ion-tabs>-->

<ion-router-outlet></ion-router-outlet>