<ion-grid class="footer-content">
  <ion-row class="row">
    <p class="logo">Mobifone Global</p>
    <div class="link-wrap">
      <ul class="link-ul">
        <li>
          <a class="" href="#!"
            ><i class="mdi mdi-phone"></i> +1 234 567 890</a
          >
        </li>
        <li>
          <a class="" href="#!"
            ><i class="mdi mdi-email"></i> iot@mobifoneglobal.com.vn</a
          >
        </li>
        <li>
          <a class="" href="#!"
            ><i class="mdi mdi-map-marker"></i> Tầng 6 số 105 Láng Hạ, Hà Nội</a
          >
        </li>
      </ul>
    </div>
  </ion-row>
</ion-grid>

<ion-grid class="footer-copyright">
  <ion-row>
    <ion-label>&copy; Copyright
      Mobifone Global. All rights reserved.</ion-label>
  </ion-row>
</ion-grid>