<ion-header>
    <ion-toolbar class="ion-no-padding" color="toolbar">
        <ion-buttons slot="start">
            <ion-back-button mode="md" text="" defaultHref="/home/quan-tri/menu" style="color: var(--dark-700);"></ion-back-button>
        </ion-buttons>
        <ion-row class="title-home-account">
            <ion-label class="title"> Báo cáo thông báo </ion-label>
        </ion-row>
      </ion-toolbar>
    <form [formGroup]="form">
        <ion-row>
            <ion-col class="ion-no-padding ion-no-margin">
                <ion-card class="reportCard">
                    <ion-item (click)="isChangeDam = true" lines="none">
                        <i class="ph-map-pin-light" style="font-size: 20px; color: var(--dark-700);"></i>
                        <ion-label [hidden]="true">Chọn đầm tôm</ion-label>
                        <ion-select [interfaceOptions]="customActionSheetOptions" okText="Xác nhận" cancelText="Hủy bỏ" (ionChange)="damTomChange()" formControlName="damtom" name="damtom" interface="action-sheet">
                            <ion-select-option *ngFor="let damtom of damTomList" [value]="damtom.id">{{damtom.name}}
                            </ion-select-option>
                        </ion-select>
                        <span class="select-icon">
                            <i class="mdi mdi-chevron-down"></i>
                        </span>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="date-time-row" style="padding-right: 4px;">
            <ion-col size='6' class="col-filter-time">
                <ion-item lines="none">
                    <i class="mdi mdi-clock-outline"></i>
                    <ion-datetime cancelText="Hủy" doneText="Xong" (ionChange)="validateDay()" formControlName="dateFrom" name="dateFrom" [max]="maxFromTo" display-format="DD/MM/YYYY" picker-format="DD:MM:YYYY"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size='6' class="col-filter-time" style="padding-left: 4px;">
                <ion-item lines="none">
                    <i class="mdi mdi-clock-outline"></i>
                    <ion-datetime cancelText="Hủy" doneText="Xong" formControlName="dateTo" (ionChange)="validateDay()" name="dateTo" [max]="now" [min]="this.form.get('dateFrom').value" display-format="DD/MM/YYYY" picker-format="DD:MM:YYYY"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="invalidDate">
            <ion-col>
                <ion-item lines="none">
                    <p class="invalid">Khoảng thời gian không hợp lệ</p>
                </ion-item>
            </ion-col>
        </ion-row>
    </form>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row>
            <ion-col sizeSm="6" offsetSm="3">
                <div echarts [options]="chartOption" class="echart"></div>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 16px;margin-bottom: 16px;">
            <ion-col sizeSm="6" offsetSm="3">
                <div>
                    <ion-card class="favCard">
                        <table class="table table-striped favCard1">
                            <thead>
                                <tr style="background-color: #F7FCFF;">
                                    <th style="color: var(--dark-700);">Loại tin</th>
                                    <th style="color: var(--dark-700);">Số Lần Gửi</th>
                                    <th style="color: var(--dark-700);">Thành Công</th>
                                    <th style="color: var(--dark-700);">Thất Bại</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="dataThongBao.length > 0">
                                <tr *ngFor="let data of dataThongBao">
                                    <td style="color: var(--dark-700);">{{ data.name }}</td>
                                    <td style="color: var(--dark-700);">{{ data.series[0].value }}</td>
                                    <td style="color: var(--dark-700);">{{ data.series[1].value }}</td>
                                    <td style="color: var(--dark-700);">{{ data.series[2].value }}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="dataThongBao.length <= 0">
                                <tr>
                                    <td style="color: var(--dark-700);">Notification</td>
                                    <td style="color: var(--dark-700);">0</td>
                                    <td style="color: var(--dark-700);">0</td>
                                    <td style="color: var(--dark-700);">0</td>
                                </tr>
                                <tr>
                                    <td style="color: var(--dark-700);">Tin nhắn (SMS)</td>
                                    <td style="color: var(--dark-700);">0</td>
                                    <td style="color: var(--dark-700);">0</td>
                                    <td style="color: var(--dark-700);">0</td>
                                </tr>
                                <tr>
                                    <td style="color: var(--dark-700);">Email</td>
                                    <td style="color: var(--dark-700);">0</td>
                                    <td style="color: var(--dark-700);">0</td>
                                    <td style="color: var(--dark-700);">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="isLoading" class="ion-text-center">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="!hasData && !isLoading" class="ion-text-center">
        <p>Không có dữ liệu</p>
    </div>
</ion-content>
<ion-fab class="ion-no-padding" *ngIf="isGoTop" slot="fixed" vertical="bottom" horizontal="end">
    <ion-button class="ion-no-margin" fill="clear" (click)="goTop()">
        <i class="mdi mdi-chevron-up"></i>
    </ion-button>
</ion-fab>