<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-no-padding">
                <ion-img src="./assets/images/mobifone-banner.svg"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text>
                    <h1>IoT Mobifone Global</h1>
                    <h2>Xin Chào!</h2>
                    <p>
                        IoT Mobifone Global App là ứng dụng giúp bạn có thể kết nối, Giám sát và kiểm soát những thông tin thu được từ những thiết bị mà bạn đang sở hữu ...
                    </p>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-no-border" style="margin-bottom: 0">
    <ion-row>
        <ion-col>
            <ion-button
                    class="btn-confirm-default"
                    style="--background: #237BD3;"
                    (click)="goToLogin()"
                    expand="block"
                    fill="clear"><span>Đăng nhập ngay</span>
            </ion-button>
        </ion-col>
    </ion-row>
    
<!--    <ion-toolbar style="margin-bottom: 26px">-->
<!--        -->
<!--    </ion-toolbar>-->
</ion-footer>
