<ion-header>
  <ion-toolbar class="ion-no-padding" color="toolbar">
    <ion-buttons class="back-arrow" slot="start">
      <ion-button (click)="closeModal()">
        <i class="mdi mdi-arrow-left" data-page=""></i>
      </ion-button>
    </ion-buttons>
    <ion-row class="title-home-account">
      <ion-label class="title">Chọn thiết bị</ion-label>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-grid class="grid-container">
    <ion-grid class="grid-list-device">
      <ion-row class="row-title">
        <i class="mdi mdi-format-text "></i>
        <h3>Danh sách thiết bị</h3>
      </ion-row>

      <!-- option rem va thiet bi khac -->
      <ion-list class="list-radio-button">
        <ion-radio-group 
          (ionChange)="changePullPush($event)" 
          value="rem" 
          mode="md" 
          [(ngModel)]="optionSelected">
          <ion-item>
            <ion-label>Rèm</ion-label>
            <ion-radio slot="start" value="rem"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Thiết bị khác</ion-label>
            <ion-radio slot="start" value="another"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <!-- thiet bi rem -->
      <ion-row class="row-list-device" *ngIf="optionSelected === 'rem'">
        <ion-list>
          <div *ngFor="let zone of listRem">
            <div *ngIf="zone.deviceEntityList.length > 0">
              <ion-item>
                <ion-label>{{zone.name}}</ion-label>
              </ion-item>
              <ion-item lines="none" 
              class="child-device" 
              *ngFor="let device of zone.deviceEntityList, index as i">
                <ion-label>{{!!device.label ? device.label : device.name}}</ion-label>
                <ion-checkbox 
                slot="end" 
                mode="md"
                (ionChange)="changeCheckBox($event, i, optionSelected)"
                [checked]="device.isChecked" 
                [(ngModel)]="device.isChecked">
                </ion-checkbox>
              </ion-item>
            </div>
          </div>

          <ion-item class="item-no-data" *ngIf="!isNodataRem">
            <ion-label>Chưa có thiết bị!</ion-label>
          </ion-item>
          
        </ion-list>
      </ion-row>

      <!-- thiet bi khac -->
      <ion-row class="row-list-device" *ngIf="optionSelected === 'another'">
        <ion-list>
          <div *ngFor="let zone of listZoneRpc">
            <div *ngIf="zone.deviceEntityList.length > 0">
              <ion-item>
                <ion-label>{{zone.name}}</ion-label>
              </ion-item>
              <ion-item lines="none" class="child-device" *ngFor="let device of zone.deviceEntityList, index as i">
                <ion-label>{{!!device.label ? device.label : device.name}}</ion-label>
                <ion-checkbox 
                slot="end" 
                mode="md"
                (ionChange)="changeCheckBox($event, i, optionSelected)"
                [checked]="device.isChecked"
                [(ngModel)]="device.isChecked">
                </ion-checkbox>
              </ion-item>
            </div>
          </div>
          <ion-item class="item-no-data" *ngIf="listZoneRpc.length === 0">
            <ion-label>Chưa có thiết bị!</ion-label>
          </ion-item>
        </ion-list>
      </ion-row>
      
    </ion-grid>

    <ion-row class="ion-justify-content-center" style="margin: 24px 0 68px 0;">
      <ion-button
        (click)="xacNhan()" 
        class="btn-confirm-default">
        Xác nhận
      </ion-button>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-fab 
vertical="bottom" 
horizontal="end" 
slot="fixed"
class="custom-ion-fab"
*ngIf="isGoTop" (click)="goTop()">
  <ion-fab-button>
    <i class="mdi mdi-chevron-up"></i>
  </ion-fab-button>
</ion-fab>

<!-- <ion-footer>
  <ion-toolbar class="ion-no-padding">
    <ion-row>
      <ion-col size="3" class="ion-no-padding">
        <ion-button class="ion-no-margin" (click)="routerGs()" expand="block" fill="clear">
          <div class="custom-button-content">
            <ion-icon src="assets/icon/giam_sat.svg"></ion-icon>
            <ion-label>Giám sát</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <ion-button class="ion-no-margin" (click)="routerDk()" expand="block" fill="clear">
          <div class="custom-button-content">
            <ion-icon src="assets/icon/dieu_khien.svg"></ion-icon>
            <ion-label>Điều khiển</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <ion-button class="ion-no-margin" (click)="routerCamera()" expand="block" fill="clear">
          <div class="custom-button-content">
            <ion-icon src="assets/icon/camera.svg"></ion-icon>
            <ion-label>Camera</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <ion-button class="ion-no-margin" (click)="routerQuanTri()" expand="block" fill="clear">
          <div class="custom-button-content">
            <ion-icon src="assets/icon/quan_tri.svg"></ion-icon>
            <ion-label>Quản trị</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
