ion-header {
  .title-camera {
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 32px;
    ion-button {
      height: unset;
      i {
        color: var(--dark-700);
        font-size: 23px;
        margin-right: 24px;
      }
    }
    .title {
      color: var(--dark-700);
      text-transform: none;
      font-weight: 500;
      font-size: 22px;
      line-height: 36px;
      position: relative;
      margin: 0 0 0 16px;
    }

    .title::before {
      display: block;
      position: absolute;
      content: " ";
      height: 1px;
      width: 20px;
      margin: 7px 0 0px 0;
      background: var(--alix-primary-color);
      top: 36px;
    }

    .title::after {
      display: block;
      position: relative;
      content: " ";
      height: 1px;
      width: 40px;
      margin: 10px 0 0px 0;
      background: var(--alix-primary-color);
    }
  }
  .choose-dam {
    --background-activated: var(--background-content-dark-mode);
    --background: #ffffff;
    --inner-padding-end: 0;
    margin: 16px;
    --padding-start: 12px;
    --border-radius: 8px;
    ion-select {
      position: relative;
      min-width: 100%;
      height: 100%;
      font-size: 16px;
      color: var(--dark-700);
      text-align: left;
      line-height: 48px;
      padding: 0 12px;
    }
    ion-select::part(icon) {
      display: none;
    }
    .select-icon {
      pointer-events: none;
      position: absolute;
      font-size: 14px;
      color: var(--dark-700);
      right: 10px;
      top: 16px;
      z-index: 10000;
      background: #ffffff;
      min-width: 10%;
      flex: 1;
      text-align: right;
    }
    i {
      color: var(--dark-700);
      font-size: 20px;
    }
  }
}
ion-content {
  ion-grid {
    min-height: calc(100% - 234px);
    padding: 0 16px 84px;
  }
  .row-no-data {
    justify-content: center;
  }
  ion-list {
    ion-item {
      --inner-padding-end: 0;
    }
    ion-item:first-child {
      margin-bottom: 16px;
      position: relative;
      ion-col {
        ion-label {
          position: absolute;
          left: 16px;
          top: 12px;
          color: #ffffff;
          font-size: 12px;
          line-height: 20px;

          background: rgba(255, 255, 255, 0.1);
          border: 0.5px solid rgba(255, 255, 255, 0.2);
          box-sizing: border-box;
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
          border-radius: 50px;
          padding: 4px 12px;
        }
      }
    }
    .child-camera {
      margin: 0px 16px 8px 16px;
      --ion-item-background: #ffffff;
      border-radius: 8px;
      ion-col {
        padding: 8px;
        text-align: center;
      }
    }
  }

  // update gd v2
  .card-cam-chinh,
  .card-cam-phu {
    box-shadow: none;
  }

  .card-cam-chinh {
    margin: 0;
    padding: 16px 24px 0;
    border-radius: 12px;
    ion-label {
      // color: rgb(30, 41, 59);
      color: var(--dark-700);
      font-size: 18px;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    video.iframChinh {
      height: 200px;
      margin: 24px 0 24px;
      background-color: #dddddd;
    }
    .placeNameCam{
      position: relative;
      width: 100%;
    }
    .fake-mark{
      position: absolute;
      height: calc(100% - 37px);
      background: black;
      z-index: 5555;
      top: 37px;
      left: 24px;
      right: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .card-cam-phu {
    margin: 24px 0;
    padding: 16px;
    border-radius: 12px;
    // video {
    //   height: 120px;
    //   background-color: #dddddd;
    // }
    ion-col {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0;
      // min-height: 120px;
    }
    .fake-mark-child{
      position: absolute;
      height: 100%;
      background: black;
      z-index: 5555;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ion-label {
      font-size: 16px;
      font-weight: 400;
      // color: rgb(30, 41, 59);
      color: var(--dark-700);
      padding-left: 12px;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
@media only screen and (min-width: 320px) {
  /* For mobile phones: */
  .placeNameCam {
    height: 180px;
  }
  .child-camera {
    video {
      height: 80px !important;
    }
  }
}
@media only screen and (min-width: 360px) {
  /* For mobile phones: */
  .placeNameCam {
    height: 203px;
  }
  .child-camera {
    video {
      height: 84px !important;
    }
  }
}
@media only screen and (min-width: 375px) {
  /* For mobile phones: */
  .placeNameCam {
    height: 212px;
  }
  .child-camera {
    video {
      height: 88.6px !important;
    }
  }
}
@media only screen and (min-width: 411px) {
  /* For mobile phones: */
  .placeNameCam {
    height: 234px;
  }
  .child-camera {
    video {
      height: 100px !important;
    }
  }
}
video {
  width: 100%;
  background: var(--dark-700);
  height: auto !important;
}
@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .placeNameCam {
    height: 432px;
  }
  .child-camera {
    video {
      height: 200px !important;
    }
  }
}
.over-video {
  //div bao phu tren video de vo hieu hoa thao tac voi video con
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
