<ion-header>
    <ion-toolbar class="ion-no-padding" color="toolbar">
        <ion-buttons slot="start">
          <ion-back-button
            mode="md"
            text=""
            defaultHref="/home/giam-sat"
          ></ion-back-button>
        </ion-buttons>
        <ion-row class="title-home-account">
          <ion-label class="title">Thiết lập luật cảnh báo </ion-label>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <ion-row>
        <ion-col class="ion-no-padding">
            <ion-card class="reportCard">
                <ion-item lines="none" style="--padding-start: 15px">
                    <i class="ph-map-pin-light" style="font-size: 20px; color: var(--dark-700);"></i>
                    <ion-label [hidden]="true">Chọn đầm</ion-label>
                    <ion-select [interfaceOptions]="customActionSheetOptions" *ngIf="dsDamTom" [ngModel]="idVuon" (ngModelChange)="changeVuon($event)" okText="Xác nhận" cancelText="Hủy bỏ" interface="action-sheet">
                        <ion-select-option class="ion-select-option-text-wrap" *ngFor="let damTom of dsDamTom" [value]="damTom.id">{{damTom.name}}</ion-select-option>
                    </ion-select>
                    <span class="select-icon">
                        <i class="mdi mdi-chevron-down" style="color: var(--dark-700);"></i>
                    </span>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-grid *ngIf="isLoading">
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <ion-spinner color="primary"></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!isLoading && checkErr">
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <p>{{message}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!isLoading && (!dsDamTom || dsDamTom.length <=0) && !checkErr">
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <p>Không có dữ liệu</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="grid-content ion-no-padding" *ngIf="!isLoading">
        <ion-card class="rule-card">
            <ion-grid class="rule-card-grid ion-no-padding">
                <ion-row class="rule-card-row ion-no-padding" style="flex-wrap: nowrap;">
                    <ion-col size='10'>
                        <i class="mdi mdi-format-text i-content"></i>
                        <ion-label class="danh-sach-luat">
                            Danh sách luật
                        </ion-label>
                    </ion-col>
                    <ion-col size='2'>
                        <ion-buttons style="position: absolute;right: 0;" class="button-them ion-no-padding">
                            <ion-button class="ion-no-padding" [routerLink]="['/home/giam-sat/danh-sach-canh-bao/thiet-lap-luat-canh-bao/them-luat-cb']" [queryParams]="{damtomid: idVuon}" routerDirection="forward">
                                <ion-icon style="font-size: 20px; color: var(--dark-700);" name="add-circle"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
                <!-- <ion-row> -->
                <ion-list class="ion-no-padding ion-no-margin">
                    <ng-container *ngFor="let luatCB of listLuat;index as i;last as isLastEl">
                        <ion-row class=" tab-card-row">
                            <ion-col size='10' [routerLink]="['/home/giam-sat/danh-sach-canh-bao/thiet-lap-luat-canh-bao/thong-tin-luat-canh-bao']" [queryParams]="{damTomId: idVuon,alarmId: luatCB.id, oldAlarmType: luatCB.alarmType}" routerDirection="forward">
                                <ion-row class="list-luat-item ion-no-padding ion-no-margin">
                                    <ion-col size='2'>
                                        <i class="ph-warning"></i>
                                    </ion-col>
                                    <ion-col size="10">
                                        <ion-row style="margin-bottom: 3px">
                                            <ion-col>
                                                <ion-label class="rule-name">{{luatCB.alarmType}}</ion-label>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col>
                                                <ion-label class="rule-time">Từ {{luatCB.fromTime}} đến {{luatCB.toTime}}</ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col size='2'>
                                <ion-row class="ion-justify-content-end">
                                    <ion-toggle (ionChange)="onActiveLuat($event,luatCB.id,idVuon)" [checked]="luatCB.dftAlarmRule.active"></ion-toggle>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="!isLastEl" class="divider"></ion-row>
                    </ng-container>
                    <ng-container *ngIf="!listLuat || (!!listLuat && listLuat.length  < 1)">
                        <ion-item detail="false" style="color: var(--dark-700);" lines="none" class="ion-text-center">
                            <ion-label style="color: var(--dark-700);">Chưa có luật cảnh báo</ion-label>
                        </ion-item>
                    </ng-container>
                </ion-list>
                <!-- </ion-row> -->
            </ion-grid>
        </ion-card>
    </ion-grid>
    <ion-refresher md="ion-refresher-md" ios="iod-refresher-md" slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
</ion-content>

<ion-fab class="ion-no-padding" *ngIf="isGoTop" slot="fixed" vertical="bottom" horizontal="end">
    <ion-button class="ion-no-margin" fill="clear" (click)="goTop()">
        <i class="mdi mdi-chevron-up"></i>
    </ion-button>
</ion-fab>